<%= button_to "New Party", new_party_path, {method: 'get'}  %>

<% @parties.each do |party| %>

  <p><%= link_to "Table of #{party.table_number}", parties_path(party.id), {method: 'get'} %></p>

<% end %>

<%= button_to "Back", profile_path, {method: 'get'} %>
