/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 */


body {
  text-align: center;
  background-image: url('background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

form {
  margin: 0;
  padding: 0;
}

.tally {
  margin: 3%;
}

.splash-heading {
  font-family: 'Kelly Slab';
  color: white;
  margin-top: 10%;
  line-height: 1px;
  text-shadow: 2px 2px rgba(214,188,58,1);
}

.splash-heading p {
  font-size: 2.5rem;
  margin-top: -15px;
}

#create-account, #sign-in {
  background-color: white;
}
