
<div class="splash-heading">
  <h2>Taqueria</h2>
  <p>Employee Portal</p>
</div>

<div class='content'>

  <%= button_to "Create Account", new_employee_path, {method: 'get'} %>
  <%= button_to "Sign In", log_in_path, {method: 'get'} %>

</div>
